.primary-nav {
  padding-top: 10px;

  @include atMedium {
    padding-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: inline-block;
    padding-right: 7px;

    @include atMedium {
      padding-right: 20px;
    }
  }

  li:last-child {
    padding-right: 0;
    @include atMedium {
      padding-right: 20px;
    }
  }

  a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    padding: 5px 8px;
    font-size: 0.8rem;
    background-color: rgba(47, 85, 114, 0.5);

    @include atMedium {
      font-size: 1rem;
      padding: 12px 0;
      background-color: transparent;

      &.is-current-link {
        color: #fabb69;
      }
    }
  }
}
